<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

<!--
    The parameter you supply to the extends command should be relative from your project’s templates directory. For example, all templates we use for Rango should extend from rango/base.html, not base.html. all that exists within the category.html template is the extends command, the title block and the body_block block. You don’t need a well-formatted HTML document because base.html provides all the groundwork for you. All you’re doing is plugging in additional content to the base template to create the complete HTML document which is sent to the client’s browser.
-->

{% block title %}
    {{ category_name }}
{% endblock %}

{% block body_block %}

    <form id="category_form" method="post" action="{% url 'rango:add_category' %}">

        <h2 class="form-signin-heading">
            <a>
                Add a Category
            </a>
        </h2>

        {% csrf_token %}

        {{ form|as_bootstrap }}

        <br/>

        <button class="btn btn-primary" type="submit" name="submit">
            Create Category
        </button>

    </form>

{% endblock %}

<!-- 
{ % block body_block % }
    <div class="page-header">
        <h1>
            {{ category_name }}
        </h1>
    </div>

    { % if category % }
        { % if pages % }
            <ul>
                { % for page in pages % }
                    <li>
                        <a href="{{ page.url }}">
                            {{ page.title }}
                        </a>
                    </li>
                { % endfor % }
            </ul>
        { % else % }
            <strong>
                No pages currently in category.
            </strong>
        { % endif % }

        { % if user.is_authenticated % }
                <a href="{ % url 'rango:add_page' category.slug % }">
                    Add a Page
                </a>
        { % endif % }
    { % else % }
        The specified category {{ category_name }} does not exist!
    { % endif % }

 
{ % endblock % }
 -->
