<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}



{% block title %}
    Edit Profile
{% endblock %}

{% block body_block %}


	<form id="profile_form" method="post" action="{% url 'rango:edit_profile' %}"
	enctype="multipart/form-data">
		{% csrf_token %}
	
		{{ current_form.as_p }}
		<p>
			<!-- TODO add change pasword view
		-->
			<a href="{% url 'rango:index' %}">
				Change Password
			</a>
		</p>
		<input type="submit" name="submit" value="Submit"/>
	</form>


{% endblock body_block %}