<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<!--
    access static media
    The { % static %} function call should be used whenever you wish to reference static media within a template. or when wanting to use js/css/imgs
    in tempaltes with correct html markup. files must
    be in the static directory.
--> 


<!--
    Title seen in browswer bar.
-->

{% block title %}
    Index
{% endblock title %}

{% block body_block %}

    {% if user.is_authenticated %}
        <h1>
            Rango says... hello 
            {{ user.username }}!
        </h1>
    {% else %}
        <h1>
            Rango says... hello world!
        </h1>
    {% endif %}
    <br />

    {% if categories %}

        <strong>
            TOP 5 CATEGORIES
        </strong>

        <ul>
            {% for category in categories %}    
            <!--
                        notice that you have a parameterized url pattern, i.e. the category url/view takes the category.slug as a parameter. To handle this you can pass the url template tag the name of the url/view and the slug, i.e. { % url ‘category’ category.slug % } within the template,
                    -->
                    
<!--                         <li><a href="/rango/category/{ { category.slug } }">
                        {{ category.name }}

                        </a></li> -->
                    
<!--
    why do i need namespacing? if project urls.py has
    a namespace defined, they need to be included (see below) else will get an error like:

    NoReverseMatch at /rango/

    Reverse for 'category' with arguments '(u'python',)' and keyword arguments '{}' not found. 0 pattern(s) tried: []
-->
                    <li>
                        <a href="{% url 'rango:category' category.slug %}">
                            {{ category.name }}
                        </a>
                    </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>
            There are no categories present.
        </strong>
    {% endif %}

    {% if pages %}
        <strong>
            Top 5 PAGES:
        </strong>
        <ul>
            {% for page in pages %} 
                <li>
                    <a href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                    {{ page.views }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>
            There are no pages present.
        </strong>
    {% endif %}

    <br />
   
    <p> 
        visits: {{ visits }}
    </p>


{% endblock body_block %}